@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html, body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #404041;
  width: 100vw;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #258880;
}

a:hover {
  font-weight: bold;
}

.container {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
  line-height: 1.5rem;
  word-spacing: 1px;
}

header {
  text-align: center;
  padding: 60px 0 0 0;
}

header h1 {
  font-size: 1.5rem;
  margin-bottom: 0.313rem;
  color: #258880;
}

header #description {
  font-weight: 300;
}

main {
  margin: 1.875rem 1rem;
}

figure {
  margin-bottom: 2rem;
}

figure figcaption {
  text-align: center;
  font-size: .9rem;
  font-weight: 300;
}

article h2 {
  margin: 1rem 0;
  color: #258880;
}

article h4 {
  margin: 1.5rem 0 .2rem 0;
  color: #2a645f;
}

article .more {
  margin-top: 1rem;
}

footer {
  text-align: center;
  padding: 1rem 0;
}

#go-top {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: 30px;
  cursor: pointer;
}

#line {
  position: relative;
  height: 2px;
  width: 100%;
  margin: 4rem 0;
  background-color: black;
}

#line .grades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.events {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 654px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events .event {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #001032;
}

.events .event:before {
  content: "year";
  position: absolute;
  bottom: 150%;
  left: -5px;
  font-size: .7rem;
}

.events .event:hover {
  height: 10px;
  width: 10px;
  background: #258880;
}

.events .shared {
  position: relative;
  top: 20px;
  left: 0;
}

.events .shared:before {
  content: "" !important;
}

#t-570::before {
  content: "570";
}

#t-575::before {
  content: "575";
}

#t-578::before {
  content: "578";
}

#t-580::before {
  content: "580";
}

#t-594::before {
  content: "594";
}

#t-594::before {
  content: "594";
}

#t-595::before {
  content: "595";
}

#t-609::before {
  content: "609";
}

#t-610::before {
  content: "610";
}

#t-613::before {
  content: "613";
}

#t-622::before {
  content: "622";
}

#t-625::before {
  content: "625";
}

#t-628::before {
  content: "628";
}

#t-630::before {
  content: "630";
}

#t-630::before {
  content: "630";
}

#t-632::before {
  content: "632";
}

@media only screen and (max-width: 480px) {
  html, body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 680px) {
  #timeline {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */